{% if block.mobileView == 'wide' %}
  <p class="mobile-note-{{ block.mobileView }}">Scroll the table to the right to see all information</p>
{% endif %}
<div class="table-wrap mobile-{{ block.mobileView }}-wrap">
  <div class="table-wrap-inside">
    {% if block.mobileView != 'mobile-columns' %}
      <table class="mobile-{{ block.mobileView }} listing {{ block.showBorders | join(' ') }} {% if block.rowsBackgroundColor != 'false' %}rows {{ block.rowsBackgroundColor }}{% endif %}">
        {% if block.hideColumnsHeadings != true %}
          <thead>
            <tr>
            {% for col in block.table.columns %}
              <th class="text-{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
            {% endfor %}
            </tr>
          </thead>
        {% endif %}

        <tbody>
          {% for row in block.table.rows %}
            <tr>
            {% for cell in row %}
              {% if block.firstColumnCellsAreHeadings %}
                {% if loop.first %}
                  <td class="cell-heading text-{{ block.table.columns[loop.index0].align }}">{{ cell }}</td>
                {% else %}
                  <td class="text-{{ block.table.columns[loop.index0].align }}">{{ cell }}</td>
                {% endif %}
              {% else %}
                <td class="text-{{ block.table.columns[loop.index0].align }}">{{ cell }}</td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      
    {% endif %}
  </div>
</div>
