{% set docAttrs = {
  pdf: {
    color: 'rgb(178, 11, 0)',
    icon: 'pdf'
  },
  doc: {
    color: 'rgb(43, 87, 152)',
    icon: 'word'
  },
  docx: {
    color: 'rgb(43, 87, 152)',
    icon: 'word'
  },
  ppt: {
    color: 'rgb(202, 72, 38)',
    icon: 'ppt'
  },
  pptx: {
    color: 'rgb(202, 72, 38)',
    icon: 'ppt'
  },
  pps: {
    color: 'rgb(210, 70, 37)',
    icon: 'ppt'
  },
  ppsx: {
    color: 'rgb(210, 70, 37)',
    icon: 'ppt'
  },
  svg: {
    color: 'rgb(66, 66, 173)',
    icon: 'svg'
  },
  eps: {
    color: 'rgb(66, 66, 173)',
    icon: 'svg'
  },
  xls: {
    color: 'rgb(14, 114, 60)',
    icon: 'excel'
  },
  xlsx: {
    color: 'rgb(14, 114, 60)',
    icon: 'excel'
  },
  gif: {
    color: 'rgb(255, 148, 8)',
    icon: 'image'
  },
  jpg: {
    color: 'rgb(226, 175, 30)',
    icon: 'image'
  },
  png: {
    color: 'rgb(119, 9, 214)',
    icon: 'png'
  },
  mp3: {
    color: 'rgb(168, 14, 69)',
    icon: 'mp3'
  },
  txt: {
    color: 'rgb(179, 179, 179)',
    icon: 'text'
  },
  zip: {
    color: 'rgb(102, 102, 102)',
    icon: 'archive'
  }
} %}

{% set docs = block.documents.all %}
{% if docs|length %}
  <div class="documents">
    {% if block.displayMode == 'listing' %}
      <div class="doc-listing">
        {% for doc in docs %}
          <div class="flex items-center">
            {% set iconColor = docAttrs[doc.extension|lower]['color'] %}
            {% set iconType = docAttrs[doc.extension|lower]['icon']|default('text') %}
            <div class="doc-icon-wrap" style="background-color: {{iconColor}};">
              {{ svg("@webroot/img/icons/file-#{iconType}.svg")|attr({class: 'doc-icon inline-block'}) }}
            </div>
            <a class="doc-link" href="{{ doc.url }}">{{ doc.title }}</a>
              {% if block.showFileSize %}
                <span class="doc-size">{{ doc.extension|upper }} ({{ (doc.size / 1024)|round(0) ~ ' KB' }})</span>
              {% endif %}
              {% if doc.assetDescription %}
                <div class="doc-description">{{ doc.assetDescription }}</div>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="doc-cards">
        {% for doc in docs %}
          <a href="{{ doc.url }}" class="doc-card">
            {% set iconColor = docAttrs[doc.extension|lower]['color'] %}
            {% set iconType = docAttrs[doc.extension|lower]['icon']|default('text') %}
            <div class="doc-icon-wrap" style="background-color: {{iconColor}};">
              {{ svg("@webroot/img/icons/file-#{iconType}.svg")|attr({class: 'doc-icon inline-block'}) }}
            </div>
            <div class="doc-content">
              <span class="doc-link">{{ doc.title }}</span>
              {% if block.showFileSize %}
                <span class="doc-size">{{ doc.extension|upper }} ({{ (doc.size / 1024)|round(0) ~ ' KB' }})</span>
              {% endif %}
              {% if doc.assetDescription %}
                <div class="doc-description">{{ doc.assetDescription }}</div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
