{% if block.images|length %}
  {% set images = block.images %}

  {% set imageThumbnail = {
      mode: 'fit',
      width: 'auto',
      height: 320,
      quality: 100
    }
  %}

  {% set imageFull = {
      mode: 'fit',
      width: 1024,
      quality: 100
  } %}
  <div class="flex-wrap gap-4 mb-8 gallery sm:flex" >
    {% set width = 0 %}
    {% for image in images.all %}

      {# Set the image class #}
      {% set class = 'portrait' %}
      {% if image.width > image.height and image.width < (2*image.height) %}
        {% set class = 'landscape' %}
      {% elseif image.width >= (2*image.height) %}
        {% set class = 'wide-landscape' %}
      {% elseif image.width == image.height %}
        {% set class = 'square' %}
      {% endif %}

      {% if image.width > image.getWidth(imageFull) %}
        {% do image.setTransform(imageFull) %}
      {% endif %}
      <a href="{{ image.getUrl() }}" class="{{ class }} mb-4 sm:mb-0 sm:h-[180px] block flex-shrink flex-grow flex-auto relative" title="{{ image.alternativeText|default(image.title) }}" data-fancybox="gallery" {% if image.caption|length %} data-caption="{{ image.caption }}"{% endif %}>
        <img src="{{ image.getUrl(imageThumbnail) }}" class="object-cover w-full h-full" alt="{{ image.alternativeText|default(image.title) }}" />
        {% if image.caption is not empty %}
          <p class="absolute left-0 bottom-0 !mb-0 p-2 bg-white bg-opacity-60 w-full text-gray max-h-12 overflow-hidden">{{ image.caption }}</p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endif %}