{% set borderClass = block.showBorder ? 'img-border' %}
{% set transform = block.imageSize.value %}

{% set pageWidth = '' %}
{% set contentWidth = '' %}
{% for row in siteSettings.themeSettings %}
  {% if row.setting == 'pageWidth' %}
    {% set pageWidth = row.value %}
  {% endif %}
  {% if row.setting == 'contentWidth' %}
    {% set contentWidth = row.value %}
  {% endif %}
{% endfor %}

{% set imageFull = {
    mode: 'fit',
    width: pageWidth,
    quality: 100
} %}

{% set imageFullWithSidebar = {
    mode: 'fit',
    width: contentWidth,
    quality: 100
} %}

{% set image = block.image.one %}

{#
  This is commented out because we are not able to use the showSidebar variable here.

  {% if transform == "imageFull" %}
  {% if showSidebar %}
    {% set transform = imageFullWithSidebar %}
  {% else %}
    {% set transform = imageFull %}
  {% endif %}
{% endif %} #}

{% set transform = imageFull %}

{% if image.width > image.getWidth(transform) %}
  {% do image.setTransform(transform) %}
{% endif %}


<figure class="image w-full {{ block.alignment }} {{ block.imageSize.value }}" style="max-width:{{ image.width > image.getWidth(transform) ? image.width(transform) : image.width }}px;">
  {% if block.imageLink %}
    <a href="{{ block.imageLink }}" {{ block.imageLink.target ? 'target="_blank"' }} title="{{ image.alternativeText|default(image.title) }}">
  {% endif %}
    <img class="{{ borderClass }} w-full" src="{{ image.url() }}" alt="{{ image.alternativeText|default(image.title) }}" />
  {% if block.imageLink %}
    </a>
  {% endif %}
  {% if block.caption %}
    <figcaption class="caption">{{ block.caption }}</figcaption>
  {% endif %}
</figure>
