{% set galleryHeight = '' %}
{% for row in siteSettings.themeSettings %}
  {% if row.setting == 'galleryHeight' %}
    {% set galleryHeight = row.value %}
  {% endif %}
{% endfor %}
{% js %}
  function toggleJustifiedGallery() {
    if ($(document).width() > 400) {
      if (!$('.gallery.standard').hasClass('justified-gallery')) {
        $('.gallery.standard').justifiedGallery({
          rowHeight : {{ galleryHeight }},
          lastRow : 'nojustify',
          margins : 3,
          captions : false
        });
      }
    } else {
      if ($('.gallery').hasClass('justified-gallery')) {
        $('.justified-gallery').justifiedGallery('destroy');
      }
    }
  };

  $(function() { toggleJustifiedGallery() });

  $(window).resize(function() { toggleJustifiedGallery() });

  {# Customize the fancyBox if needed: https://fancyapps.com/fancybox/3/docs/ #}
  {#
    $('[data-fancybox="gallery"]').fancybox({
      // Enable infinite gallery navigation
      loop: false,

      // Horizontal space between slides
      gutter: 50,

      // Enable keyboard navigation
      keyboard: true,

      // Should display navigation arrows at the screen edges
      arrows: true,

      // Should display counter at the top left corner
      infobar: true,

      // Should display close button (using `btnTpl.smallBtn` template) over the content
      // Can be true, false, "auto"
      // If "auto" - will be automatically enabled for "html", "inline" or "ajax" items
      smallBtn: "auto",

      // Should display toolbar (buttons at the top)
      // Can be true, false, "auto"
      // If "auto" - will be automatically hidden if "smallBtn" is enabled
      toolbar: "auto",

      // What buttons should appear in the top right corner.
      // Buttons will be created using templates from `btnTpl` option
      // and they will be placed into toolbar (class="fancybox-toolbar"` element)
      buttons: [
          "zoom",
          //"share",
          //"slideShow",
          //"fullScreen",
          //"download",
          "thumbs",
          "close"
      ],

      // Detect "idle" time in seconds
      idleTime: 3,

      // Disable right-click and use simple image protection for images
      protect: false,

      // Shortcut to make content "modal" - disable keyboard navigtion, hide buttons, etc
      modal: false,

      image: {
          // Wait for images to load before displaying
          //   true  - wait for image to load and then display;
          //   false - display thumbnail and load the full-sized image over top,
          //           requires predefined image dimensions (`data-width` and `data-height` attributes)
          preload: false
      },

      ajax: {
          // Object containing settings for ajax request
          settings: {
              // This helps to indicate that request comes from the modal
              // Feel free to change naming
              data: {
                  fancybox: true
              }
          }
      },

      iframe: {
          // Iframe template
          tpl:
              '<iframe id="fancybox-frame{rnd}" name="fancybox-frame{rnd}" class="fancybox-iframe" frameborder="0" vspace="0" hspace="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen allowtransparency="true" src=""></iframe>',

          // Preload iframe before displaying it
          // This allows to calculate iframe content width and height
          // (note: Due to "Same Origin Policy", you can't get cross domain data).
          preload: true,

          // Custom CSS styling for iframe wrapping element
          // You can use this to set custom iframe dimensions
          css: {},

          // Iframe tag attributes
          attr: {
              scrolling: "auto"
          }
      },

      // Default content type if cannot be detected automatically
      defaultType: "image",

      // Open/close animation type
      // Possible values:
      //   false            - disable
      //   "zoom"           - zoom images from/to thumbnail
      //   "fade"
      //   "zoom-in-out"
      //
      animationEffect: "zoom",

      // Duration in ms for open/close animation
      animationDuration: 366,

      // Should image change opacity while zooming
      // If opacity is "auto", then opacity will be changed if image and thumbnail have different aspect ratios
      zoomOpacity: "auto",

      // Transition effect between slides
      //
      // Possible values:
      //   false            - disable
      //   "fade'
      //   "slide'
      //   "circular'
      //   "tube'
      //   "zoom-in-out'
      //   "rotate'
      //
      transitionEffect: "fade",

      // Duration in ms for transition animation
      transitionDuration: 366,

      // Custom CSS class for slide element
      slideClass: "",

      // Custom CSS class for layout
      baseClass: "",

      // Base template for layout
      baseTpl:
          '<div class="fancybox-container" role="dialog" tabindex="-1">' +
          '<div class="fancybox-bg"></div>' +
          '<div class="fancybox-inner">' +
          '<div class="fancybox-infobar">' +
          "<span data-fancybox-index></span>&nbsp;/&nbsp;<span data-fancybox-count></span>" +
          "</div>" +
          '<div class="fancybox-toolbar">{{buttons}}</div>' +
          '<div class="fancybox-navigation">{{arrows}}</div>' +
          '<div class="fancybox-stage"></div>' +
          '<div class="fancybox-caption"></div>' +
          "</div>" +
          "</div>",

      // Loading indicator template
      spinnerTpl: '<div class="fancybox-loading"></div>',

      // Error message template
      errorTpl: '<div class="fancybox-error"><p>{{ERROR}}</p></div>',

      btnTpl: {
          download:
              '<a download data-fancybox-download class="fancybox-button fancybox-button--download" title="{{DOWNLOAD}}" href="javascript:;">' +
              '<svg viewBox="0 0 40 40">' +
              '<path d="M13,16 L20,23 L27,16 M20,7 L20,23 M10,24 L10,28 L30,28 L30,24" />' +
              "</svg>" +
              "</a>",

          zoom:
              '<button data-fancybox-zoom class="fancybox-button fancybox-button--zoom" title="{{ZOOM}}">' +
              '<svg viewBox="0 0 40 40">' +
              '<path d="M18,17 m-8,0 a8,8 0 1,0 16,0 a8,8 0 1,0 -16,0 M24,22 L31,29" />' +
              "</svg>" +
              "</button>",

          close:
              '<button data-fancybox-close class="fancybox-button fancybox-button--close" title="{{CLOSE}}">' +
              '<svg viewBox="0 0 40 40">' +
              '<path d="M10,10 L30,30 M30,10 L10,30" />' +
              "</svg>" +
              "</button>",

          // This small close button will be appended to your html/inline/ajax content by default,
          // if "smallBtn" option is not set to false
          smallBtn:
              '<button data-fancybox-close class="fancybox-close-small" title="{{CLOSE}}"><svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg></button>',

          // Arrows
          arrowLeft:
              '<a data-fancybox-prev class="fancybox-button fancybox-button--arrow_left" title="{{PREV}}" href="javascript:;">' +
              '<svg viewBox="0 0 40 40">' +
              '<path d="M18,12 L10,20 L18,28 M10,20 L30,20"></path>' +
              "</svg>" +
              "</a>",

          arrowRight:
              '<a data-fancybox-next class="fancybox-button fancybox-button--arrow_right" title="{{NEXT}}" href="javascript:;">' +
              '<svg viewBox="0 0 40 40">' +
              '<path d="M10,20 L30,20 M22,12 L30,20 L22,28"></path>' +
              "</svg>" +
              "</a>"
      },

      // Container is injected into this element
      parentEl: "body",

      // Hide browser vertical scrollbars; use at your own risk
      hideScrollbar: true,

      // Focus handling
      // ==============

      // Try to focus on the first focusable element after opening
      autoFocus: false,

      // Put focus back to active element after closing
      backFocus: true,

      // Do not let user to focus on element outside modal content
      trapFocus: true,

      // Module specific options
      // =======================

      fullScreen: {
          autoStart: false
      },

      // Set `touch: false` to disable dragging/swiping
      touch: {
          vertical: true, // Allow to drag content vertically
          momentum: true // Continue movement after releasing mouse/touch when panning
      },

      // Hash value when initializing manually,
      // set `false` to disable hash change
      hash: null,
    });
  #}
{% endjs %}
