{#
  {% include '_partials/shareButtons' with {
    url: entry.url,
    title: entry.title,
    excerpt: entry.briefDescription
  } only %}
#}

{% set title = title|url_encode %}
{% set excerpt = excerpt|url_encode %}

<a class="text-brand-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" title="Share on Facebook" target="_blank">
  {{ svg("@webroot/img/icons/facebook-square-brands.svg")|attr({class: 'h-6 w-6 inline-block'}) }}<span class="sr-only">Facebook</span>
</a>
<a class="text-brand-twitter" href="https://twitter.com/intent/tweet?source={{ url }}&text={{ title }}" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
  {{ svg("@webroot/img/icons/square-x-twitter-brands-solid.svg")|attr({class: 'h-6 w-6 inline-block'}) }}<span class="sr-only">Twitter</span>
</a>
<a class="text-brand-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary={{ excerpt }}&source={{ url }}" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
  {{ svg("@webroot/img/icons/linkedin-square-brands.svg")|attr({class: 'h-6 w-6 inline-block'}) }}<span class="sr-only">LinkedIn</span>
</a>
<a class="text-brand-pinterest" href="http://pinterest.com/pin/create/button/?url={{ url }}&description={{ title }}" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;">
  {{ svg("@webroot/img/icons/pinterest-square-brands.svg")|attr({class: 'h-6 w-6 inline-block'}) }}<span class="sr-only">Pinterest</span>
</a>
<a class="text-green-600 rounded" href="mailto:?subject={{ title }}&body={{ excerpt }}" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;">
  {{ svg("@webroot/img/icons/envelope-square-solid.svg")|attr({class: 'h-6 w-6 inline-block'}) }}<span class="sr-only">Email</span>
</a>
